## Buys Computer Dataset

In [37]:
# Binary Tree is supported in sklearn Decision Tree
import numpy as np
import pandas as pd
dataset = pd.read_csv('dt.csv')

In [38]:
dataset

      age  income Student credit_rating buy_comp
0     <30    high      no          fair       no
1     <30    high      no     excellent       no
2   30-40    high      no          fair      yes
3     >40  medium      no          fair      yes
4     >40     low     yes          fair      yes
5     >40     low     yes     excellent       no
6   30-40     low     yes     excellent      yes
7     <30  medium      no          fair       no
8     <30     low     yes          fair      yes
9     >40  medium     yes          fair      yes
10    <30  medium     yes     excellent      yes
11  30-40  medium      no     excellent      yes
12  30-40    high     yes          fair      yes
13    >40  medium      no     excellent       no

In [39]:
x = dataset.iloc[:, :-1]
feature_cols = ['age', 'income', 'student', 'credit_card'] 
y = dataset.iloc[:, 4].values

In [40]:
from sklearn.preprocessing import LabelEncoder 

labelencoder = LabelEncoder() 
x = x.apply(LabelEncoder().fit_transform)

In [41]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(
    criterion='entropy',
    max_depth=5,
    splitter='best'
)

In [42]:
x

    age  income  Student  credit_rating
0     1       0        0              1
1     1       0        0              0
2     0       0        0              1
3     2       2        0              1
4     2       1        1              1
5     2       1        1              0
6     0       1        1              0
7     1       2        0              1
8     1       1        1              1
9     2       2        1              1
10    1       2        1              0
11    0       2        0              0
12    0       0        1              1
13    2       2        0              0

In [43]:
classifier.fit(x, y)  # Training of classifier
X_in = np.array([1,1, 0,0])
y_pred = classifier.predict([X_in])
print("Prediction", y_pred)

Prediction ['no']

In [54]:
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

dot_data = StringIO()
export_graphviz(classifier, out_file=dot_data, filled=True, rounded = True, special_characters=True, feature_names = feature_cols, class_names = ["0", "1"])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('tree.png')

True

## Diabetes Dataset

In [29]:
dataset = pd.read_csv('pima-indians-diabetes.csv', header=None)
dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [30]:
X = dataset.iloc[:, :-1]  # Features
# feature_col = ['age', 'income', 'student','credit_rating']
Y = dataset.iloc[:, 8]
# from sklearn.preprocessing import LabelEncoder 
# labelencoder_X = LabelEncoder()

# X = X.apply(LabelEncoder().fit_transform)

from sklearn.tree import DecisionTreeClassifier 
regressor = DecisionTreeClassifier(criterion='entropy', max_depth=5, splitter='best')
X

      0    1   2   3    4     5      6   7
0     6  148  72  35    0  33.6  0.627  50
1     1   85  66  29    0  26.6  0.351  31
2     8  183  64   0    0  23.3  0.672  32
3     1   89  66  23   94  28.1  0.167  21
4     0  137  40  35  168  43.1  2.288  33
..   ..  ...  ..  ..  ...   ...    ...  ..
763  10  101  76  48  180  32.9  0.171  63
764   2  122  70  27    0  36.8  0.340  27
765   5  121  72  23  112  26.2  0.245  30
766   1  126  60   0    0  30.1  0.349  47
767   1   93  70  31    0  30.4  0.315  23

[768 rows x 8 columns]

In [32]:
regressor.fit(X, Y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [33]:
from sklearn.externals.six import StringIO
from IPython.display import Image 
from sklearn.tree import export_graphviz 
import pydotplus

dot_data = StringIO() 

export_graphviz(regressor, out_file=dot_data, filled=True, rounded=True, special_characters=True, class_names = ['0', '1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('tree1.png')

True

## Linear Data

In [2]:
# Decision tree for regression 
import numpy as np
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import r2_score, mean_squared_error

In [7]:
import pandas as pandas
import matplotlib.pyplot as plt 
data = pd.read_csv("linear_data.csv")

In [8]:
x = data.iloc[:, :-1].values  # Features
y = data.iloc[:, -1].values   # Labels

In [11]:
# Splitting the data into train and test data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.5, random_state = 0)

In [12]:
# Decision Tree Regressor
drm = DecisionTreeRegressor()

In [13]:
drm.fit(x, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [18]:
y_pred = drm.predict(x)
print(y_pred)

[70.  80.  10.  50.  70.  95.5 38.  95.5]

In [21]:
# Mean Squared Error
mse = mean_squared_error(y, y_pred)
print(mse)

157.8125

In [22]:
# Root Mean squared Error
rmse = np.sqrt(mse)
print(rmse)

12.562344526401112